@import url(https://fonts.googleapis.com/css2?family=Exo:wght@400;700&display=swap);
@import url(https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css);
/**
 * Import
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s; }
  .modal-window:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto; }
  .modal-window > div {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: #ffffff; }
  .modal-window header {
    font-weight: bold; }
  .modal-window h1 {
    font-size: 150%;
    margin: 0 0 15px; }

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none; }
  .modal-close:hover {
    color: black; }

body {
  width: 100%;
  height: 100%;
  background-color: #eff3f8;
  font-family: "Exo", sans-serif; }

.hidden {
  display: none; }

.content-area {
  display: flex;
  justify-content: center; }

.content-wrapper {
  padding-top: 120px; }
  .content-wrapper .title {
    padding-bottom: 55px;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 28px;
    color: #b1bcca;
    text-align: center; }

.form {
  background: #fafafa;
  box-shadow: 0px 4px 44px -1px rgba(0, 0, 0, 0.07);
  padding: 32px 64px;
  width: 100%;
  max-width: 974px; }
  .form__description h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 28px;
    color: #000000; }
  .form__description p {
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 25px;
    color: #686868; }
  .form__content {
    padding: 50px 0;
    margin-bottom: 60px;
    border-bottom: 1px dashed #949494;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between; }
    .form__content input,
    .form__content select {
      margin: 16px 0;
      width: 100%;
      max-width: 400px;
      height: 48px;
      font-family: "Exo", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 20px;
      -ms-box-sizing: content-box;
      box-sizing: content-box; }
      .form__content input:-ms-input-placeholder, .form__content select:-ms-input-placeholder {
        font-family: "Exo", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        color: #000000;
        height: 48px;
        padding: 0 12px; }
      .form__content input:placeholder-shown,
      .form__content input [type="date" i],
      .form__content input option,
      .form__content select:placeholder-shown,
      .form__content select [type="date" i],
      .form__content select option {
        font-family: "Exo", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        color: #000000;
        height: 48px;
        padding: 0 12px; }
  .form__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
    .form__footer .tos__link {
      font-family: "Exo", sans-serif;
      font-size: 17px;
      line-height: 29px;
      font-weight: bold;
      color: #000000; }
    .form__footer .submit-btn {
      margin-top: 30px;
      background-color: #61a4d9;
      padding: 11.5px 50px;
      border: none;
      font-family: "Exo", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 17px;
      line-height: 167.9%;
      text-align: center;
      color: #ffffff; }
    .form__footer .bg {
      background-attachment: fixed;
      background-size: cover; }
      .form__footer .bg img {
        width: 200px; }


/*# sourceMappingURL=main.css.map*/